html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
    
* {
      box-sizing: border-box;
    }

    // -------------------------------------------- RESET CSS -------------------------------
.mainheader {
  background-image: url("https://scontent.ftbs4-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/87514702_194085185246666_8785787501584318464_n.png?_nc_cat=104&_nc_sid=b96e70&_nc_ohc=-4f41vqntV4AX8zsc_3&_nc_ht=scontent.ftbs4-1.fna&oh=bfd8c048c90243ebc0d0d528cab53252&oe=5EF81E3B"); ;
  background-repeat:no-repeat;
  background-size:cover;
  height: 600px;
 }
.firstheader {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  height: 54px;
  border-bottom: whitesmoke 1px groove;
  text-align: center; }

.headercontact {
  display: flex;
  flex-direction: row;
  align-items: center; }

.socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center; }

.headercontact2 {
  margin-right: 20px; 
  color: rgba(255, 255, 255, 0.6);
}

.headersocialmedia {
  margin-left: 20px; }

.followheader {
  height: 64px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
 }

.ul {
  display: flex;
  flex-direction: row;
  align-items: center; }

.headerh1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px; }

.projectspan {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase; }

.li {
  padding: 20px 20px;
  color: grey;
  font-size: 15px;
  text-decoration: none !important; }

.ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px; 
}
  .maintext {
    font-size: 5rem;
    color: white;
    text-align: center;
    display: flex;
    margin-top: 10%;
    width: 500px;
  }
.maintextcontainer {
text-align: center;;
display: flex;
justify-content: center;
}


#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
}

.test:hover ~ .test2 {
  display: none;
}
.show {
  text-decoration: none;
  color: white;
}
.showmain {
  margin-top: 180px;
  margin-right: 500px;;
}
.media {
  display: inline-flex;
  margin-left: 20px;
}
.mediap {
  width: 230px;
}
.afterheader {
  height: 274px;
  padding: 5em 0;
  border: 1px solid #dee2e6!important
}
.mt-0 {
  font-size: 20px;
  margin-bottom: 10px;;
}
.aboutus {
  padding: 8%;
}
.sub-title {
  display: block;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 12px;
  font-weight: 700;
  color: #ff5733;
  margin-bottom: 10px; }

.about-section .img-years {
  position: relative; }
.about-section .img-years .experience {
    position: absolute;
    display: block;
    right: 0; }
.about-section .img-years .caption {
    display: block;
    text-transform: uppercase;
    letter-spacing: .8em;
    font-size: 14px;
    font-weight: 900;
    color: #ff5733; }
    @media (max-width: 991.98px) {
.about-section .img-years .caption {
        letter-spacing: .3em; } }
.about-section .img-years .years {
    line-height: 1.2;
    font-weight: 900;
    font-size: 100px;
    color: #ff5733; }
    @media (max-width: 991.98px) {
.about-section .img-years .years {
     font-size: 80px; } }
.about-section h3 {
  font-size: 30px;
  font-weight: bold;
  color: #000; }
.ul-check li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px; }
.ul-check li:before {
      font-family: "icomoon";
      content: "\e5ca";
      position: absolute;
      left: 0;
      top: .6em;
      font-size: 20px;
      line-height: 0; }
.ul-check.primary li:before {
   color: #ff5733; }
      
.ul-check.success li:before {
   color: #28a745; }
      
.ul-check.danger li:before {
   color: #dc3545; }