@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.mainheader {
  background-image: url("https://scontent.ftbs6-1.fna.fbcdn.net/v/t1.15752-9/87562792_792303124513015_3513222199462854656_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=JFFRvss8goAAX-6YvNh&_nc_ht=scontent.ftbs6-1.fna&oh=5cc97114da013c0c0a6ddd13b53e4fb1&oe=5EF66845");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px; }

.firstheader {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  height: 54px;
  border-bottom: whitesmoke 1px groove;
  text-align: center; }

.headercontact {
  display: flex;
  flex-direction: row;
  align-items: center; }

.socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center; }

.headercontact2 {
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.6); }

.headersocialmedia {
  margin-left: 20px; }

.followheader {
  height: 64px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  text-align: center; }

.ul {
  display: flex;
  flex-direction: row;
  align-items: center; }

.headerh1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px; }

.projectspan {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase; }

.li {
  padding: 20px 20px;
  color: white;
  font-size: 15px;
  text-decoration: none !important; }

.ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px; }

.maintext {
  font-size: 5rem;
  color: white;
  text-align: center;
  display: flex;
  margin-top: 10%;
  width: 500px; }

.maintextcontainer {
  text-align: center;
  display: flex;
  justify-content: center; }

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80); }

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible; }

#boxclose {
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9; }

.boxclose:before {
  content: "×"; }

#fade:hover ~ #boxclose {
  display: none; }

.test:hover ~ .test2 {
  display: none; }

.show {
  text-decoration: none;
  color: white; }

.showmain {
  margin-top: 180px;
  margin-right: 500px; }

.media {
  display: inline-flex;
  margin-left: 20px; }

.mediap {
  width: 230px;
  font-family: "ALKBasri-Light", sans-serif; }

.afterheader {
  height: 274px;
  padding: 5em 0;
  border: 1px solid #dee2e6 !important; }

.mt-0 {
  font-size: 20px;
  margin-bottom: 10px; }

.aboutus {
  padding: 1%; }

.sub-title {
  display: block;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 12px;
  font-weight: 700;
  color: #ff5733;
  margin-bottom: 10px; }

.about-section .img-years {
  position: relative; }

.about-section .img-years .experience {
  position: absolute;
  display: block;
  right: 0; }

.about-section .img-years .caption {
  display: block;
  text-transform: uppercase;
  letter-spacing: .8em;
  font-size: 14px;
  font-weight: 900;
  color: #ff5733; }

@media (max-width: 991.98px) {
  .about-section .img-years .caption {
    letter-spacing: .3em; } }

.about-section .img-years .years {
  line-height: 1.2;
  font-weight: 900;
  font-size: 100px;
  color: #ff5733; }

@media (max-width: 991.98px) {
  .about-section .img-years .years {
    font-size: 80px; } }

.about-section h3 {
  font-size: 30px;
  font-weight: bold;
  color: #000; }

.ul-check li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px; }

.ul-check li:before {
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
  left: 0;
  top: .6em;
  font-size: 20px;
  line-height: 0; }

.ul-check.primary li:before {
  color: #ff5733; }

.ul-check.success li:before {
  color: #28a745; }

.ul-check.danger li:before {
  color: #dc3545; }

.offersection {
  margin-top: 200px; }

.btn-primary {
  background-color: #f35c22;
  border-color: #f35c22; }

.testimony {
  text-align: center;
  z-index: 1;
  position: relative;
  padding: 30px; }

.testimony img {
  max-width: 100px;
  border-radius: 50%;
  margin: 0 auto 30px auto; }

.testimony .sub-title {
  margin-bottom: 30px; }

.testimony h3 {
  font-size: 18px; }

.testimony p {
  font-size: 20px; }

.happyclients {
  margin-top: 10%;
  border-bottom: whitesmoke 1px groove; }

.ourprojects {
  margin-top: 10%; }

.news {
  margin-top: 10%; }

.mtavari {
  text-decoration: none;
  color: white; }

.mtavari:hover {
  opacity: 40%;
  color: black; }

.rounded-0 {
  border-radius: 40px; }

.services {
  margin-top: 8%;
  border-bottom: 1px grey groove; }

.sub-title {
  margin-bottom: 5%; }

.site-section {
  margin-top: 10%; }

* {
  box-sizing: border-box; }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #45a049; }

.container {
  border-radius: 5px;
  padding: 20px; }

.contact {
  margin-top: 8%; }

.contacth3 {
  margin-bottom: 5%;
  font-size: 12px;
  color: red; }

html {
  scroll-behavior: smooth; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f35c22;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px; }

#myBtn:hover {
  background-color: #555; }

.mb-5 {
  padding-top: 5%; }

.border-top {
  border-top: 1px solid #ced4da !important; }

.site-footer {
  padding: 4em 0;
  background: #333333; }

.site-footer p {
  color: #737373; }

.site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
  color: #fff; }

.site-footer a {
  color: #999999; }

.site-footer a:hover {
  color: white; }

.site-footer ul li {
  margin-bottom: 10px; }

.site-footer .footer-heading {
  font-size: 20px;
  color: #fff; }
